.vagrant/
.DS_Store

*.~
1

# Magento
/htdocs/downloader
/htdocs/app/etc/local.xml
/htdocs/var/log
/htdocs/var/cache
/htdocs/var/locks
/htdocs/var/session
/htdocs/var/package
/htdocs/media/catalog

/htdocs/.modman
